@model Domain.Booking

@{
    Layout = "~/Views/_Layout.cshtml";
}

<div>
    <h4>Date(s)</h4>
    <div>
        @Html.LabelFor(m => m.StartDate)
        @Html.TextBoxFor(m => m.StartDate)
    </div>
    <div>
        @Html.LabelFor(m => m.EndDate)
        @Html.TextBoxFor(m => m.EndDate)
    </div>
    <div>
        @Html.LabelFor(m => m.IncludesMorning)
        @Html.CheckBoxFor(m => m.IncludesMorning)
        @Html.LabelFor(m => m.IncludesAfternoon)
        @Html.CheckBoxFor(m => m.IncludesAfternoon)
    </div>
</div>